@define-color bg #F8F1D6;
@define-color fg #272B29;
@define-color gray1 #3a2a00;
@define-color gray2 #84827c;
@define-color gray3 #865951;
@define-color gray4 #1b0400;
@define-color gray5 #5e301a;
@define-color fg_bright #050100;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}